--
-- PostgreSQL database dump
--

\restrict nYiqfMCM0cDzJVR9XtVinQzD2VJ1IJcknSIazossAjF8fZYDUL2ceBLcQL71178

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: canhotos; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.canhotos (
    id integer NOT NULL,
    viagem_id integer NOT NULL,
    motorista_id integer,
    foto_url text,
    latitude real,
    longitude real,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    numero_cte text,
    cnpj_cliente text,
    numero_nf text,
    valor_detectado numeric(12,2),
    assinatura_detectada boolean DEFAULT false,
    seal_id text,
    captured_at timestamp with time zone,
    status text DEFAULT 'pendente'::text NOT NULL,
    ia_confidencia real,
    observacoes text,
    fraud_alert boolean DEFAULT false NOT NULL,
    fraud_distancia_metros integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.canhotos OWNER TO techsin;

--
-- Name: canhotos_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.canhotos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.canhotos_id_seq OWNER TO techsin;

--
-- Name: canhotos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.canhotos_id_seq OWNED BY public.canhotos.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    transportadora_id integer NOT NULL,
    nome text NOT NULL,
    cnpj text NOT NULL,
    email text NOT NULL,
    email_financeiro text,
    telefone text,
    endereco text,
    total_faturas integer DEFAULT 0 NOT NULL,
    valor_total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.clientes OWNER TO techsin;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clientes_id_seq OWNER TO techsin;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: faturas; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.faturas (
    id integer NOT NULL,
    transportadora_id integer NOT NULL,
    cliente_id integer NOT NULL,
    viagem_id integer NOT NULL,
    canhoto_id integer,
    xml_id integer,
    numero_fatura text,
    valor numeric(12,2) NOT NULL,
    valor_antecipado numeric(12,2),
    taxa_antecipacao numeric(5,4) DEFAULT 0.015,
    status text DEFAULT 'pendente'::text NOT NULL,
    data_emissao timestamp with time zone DEFAULT now(),
    data_vencimento timestamp with time zone,
    data_pagamento timestamp with time zone,
    kit_enviado_em timestamp with time zone,
    antecipacao_solicitada_em timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.faturas OWNER TO techsin;

--
-- Name: faturas_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.faturas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.faturas_id_seq OWNER TO techsin;

--
-- Name: faturas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.faturas_id_seq OWNED BY public.faturas.id;


--
-- Name: motoristas; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.motoristas (
    id integer NOT NULL,
    transportadora_id integer NOT NULL,
    nome text NOT NULL,
    cpf text NOT NULL,
    telefone text,
    email text,
    cnh text,
    status text DEFAULT 'ativo'::text NOT NULL,
    total_entregas integer DEFAULT 0 NOT NULL,
    magic_token text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.motoristas OWNER TO techsin;

--
-- Name: motoristas_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.motoristas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.motoristas_id_seq OWNER TO techsin;

--
-- Name: motoristas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.motoristas_id_seq OWNED BY public.motoristas.id;


--
-- Name: transportadoras; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.transportadoras (
    id integer NOT NULL,
    nome text NOT NULL,
    cnpj text NOT NULL,
    email text NOT NULL,
    telefone text,
    email_financeiro text,
    ativo boolean DEFAULT true NOT NULL,
    plano text DEFAULT 'starter'::text NOT NULL,
    total_canhotos integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transportadoras OWNER TO techsin;

--
-- Name: transportadoras_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.transportadoras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transportadoras_id_seq OWNER TO techsin;

--
-- Name: transportadoras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.transportadoras_id_seq OWNED BY public.transportadoras.id;


--
-- Name: viagens; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.viagens (
    id integer NOT NULL,
    transportadora_id integer NOT NULL,
    motorista_id integer,
    cliente_id integer,
    numero_nf text,
    valor_frete numeric(12,2) NOT NULL,
    origem text,
    destino text,
    status text DEFAULT 'pendente'::text NOT NULL,
    data_partida timestamp with time zone,
    data_entrega timestamp with time zone,
    canhoto_id integer,
    xml_id integer,
    email_financeiro text,
    endereco_lat real,
    endereco_lon real,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.viagens OWNER TO techsin;

--
-- Name: viagens_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.viagens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.viagens_id_seq OWNER TO techsin;

--
-- Name: viagens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.viagens_id_seq OWNED BY public.viagens.id;


--
-- Name: xmls; Type: TABLE; Schema: public; Owner: techsin
--

CREATE TABLE public.xmls (
    id integer NOT NULL,
    transportadora_id integer NOT NULL,
    tipo text NOT NULL,
    numero_cte text,
    cnpj_emissor text,
    cnpj_destinatario text,
    nome_destinatario text,
    valor_frete numeric(12,2),
    data_emissao timestamp with time zone,
    xml_content text,
    chave_acesso text,
    endereco_entrega text,
    status text DEFAULT 'pendente'::text NOT NULL,
    canhoto_id integer,
    viagem_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.xmls OWNER TO techsin;

--
-- Name: xmls_id_seq; Type: SEQUENCE; Schema: public; Owner: techsin
--

CREATE SEQUENCE public.xmls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.xmls_id_seq OWNER TO techsin;

--
-- Name: xmls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: techsin
--

ALTER SEQUENCE public.xmls_id_seq OWNED BY public.xmls.id;


--
-- Name: canhotos id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.canhotos ALTER COLUMN id SET DEFAULT nextval('public.canhotos_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: faturas id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.faturas ALTER COLUMN id SET DEFAULT nextval('public.faturas_id_seq'::regclass);


--
-- Name: motoristas id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.motoristas ALTER COLUMN id SET DEFAULT nextval('public.motoristas_id_seq'::regclass);


--
-- Name: transportadoras id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.transportadoras ALTER COLUMN id SET DEFAULT nextval('public.transportadoras_id_seq'::regclass);


--
-- Name: viagens id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.viagens ALTER COLUMN id SET DEFAULT nextval('public.viagens_id_seq'::regclass);


--
-- Name: xmls id; Type: DEFAULT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.xmls ALTER COLUMN id SET DEFAULT nextval('public.xmls_id_seq'::regclass);


--
-- Data for Name: canhotos; Type: TABLE DATA; Schema: public; Owner: techsin
--



--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: techsin
--



--
-- Data for Name: faturas; Type: TABLE DATA; Schema: public; Owner: techsin
--



--
-- Data for Name: motoristas; Type: TABLE DATA; Schema: public; Owner: techsin
--



--
-- Data for Name: transportadoras; Type: TABLE DATA; Schema: public; Owner: techsin
--

COPY public.transportadoras (id, nome, cnpj, email, telefone, email_financeiro, ativo, plano, total_canhotos, created_at, updated_at) FROM stdin;
1	Flash Transportes LTDA	12.345.678/0001-90	contato@flashtransportes.com.br	(11) 99999-1234	financeiro@flashtransportes.com.br	t	starter	0	2026-04-09 03:57:59.638559+00	2026-04-09 03:57:59.638559+00
\.


--
-- Data for Name: viagens; Type: TABLE DATA; Schema: public; Owner: techsin
--



--
-- Data for Name: xmls; Type: TABLE DATA; Schema: public; Owner: techsin
--



--
-- Name: canhotos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.canhotos_id_seq', 2, true);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.clientes_id_seq', 5, true);


--
-- Name: faturas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.faturas_id_seq', 2, true);


--
-- Name: motoristas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.motoristas_id_seq', 4, true);


--
-- Name: transportadoras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.transportadoras_id_seq', 1, true);


--
-- Name: viagens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.viagens_id_seq', 15, true);


--
-- Name: xmls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: techsin
--

SELECT pg_catalog.setval('public.xmls_id_seq', 13, true);


--
-- Name: canhotos canhotos_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.canhotos
    ADD CONSTRAINT canhotos_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: faturas faturas_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.faturas
    ADD CONSTRAINT faturas_pkey PRIMARY KEY (id);


--
-- Name: motoristas motoristas_magic_token_unique; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.motoristas
    ADD CONSTRAINT motoristas_magic_token_unique UNIQUE (magic_token);


--
-- Name: motoristas motoristas_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.motoristas
    ADD CONSTRAINT motoristas_pkey PRIMARY KEY (id);


--
-- Name: transportadoras transportadoras_cnpj_unique; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.transportadoras
    ADD CONSTRAINT transportadoras_cnpj_unique UNIQUE (cnpj);


--
-- Name: transportadoras transportadoras_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.transportadoras
    ADD CONSTRAINT transportadoras_pkey PRIMARY KEY (id);


--
-- Name: viagens viagens_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.viagens
    ADD CONSTRAINT viagens_pkey PRIMARY KEY (id);


--
-- Name: xmls xmls_pkey; Type: CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.xmls
    ADD CONSTRAINT xmls_pkey PRIMARY KEY (id);


--
-- Name: canhotos canhotos_motorista_id_motoristas_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.canhotos
    ADD CONSTRAINT canhotos_motorista_id_motoristas_id_fk FOREIGN KEY (motorista_id) REFERENCES public.motoristas(id);


--
-- Name: canhotos canhotos_viagem_id_viagens_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.canhotos
    ADD CONSTRAINT canhotos_viagem_id_viagens_id_fk FOREIGN KEY (viagem_id) REFERENCES public.viagens(id);


--
-- Name: clientes clientes_transportadora_id_transportadoras_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_transportadora_id_transportadoras_id_fk FOREIGN KEY (transportadora_id) REFERENCES public.transportadoras(id);


--
-- Name: faturas faturas_cliente_id_clientes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.faturas
    ADD CONSTRAINT faturas_cliente_id_clientes_id_fk FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: faturas faturas_transportadora_id_transportadoras_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.faturas
    ADD CONSTRAINT faturas_transportadora_id_transportadoras_id_fk FOREIGN KEY (transportadora_id) REFERENCES public.transportadoras(id);


--
-- Name: faturas faturas_viagem_id_viagens_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.faturas
    ADD CONSTRAINT faturas_viagem_id_viagens_id_fk FOREIGN KEY (viagem_id) REFERENCES public.viagens(id);


--
-- Name: motoristas motoristas_transportadora_id_transportadoras_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.motoristas
    ADD CONSTRAINT motoristas_transportadora_id_transportadoras_id_fk FOREIGN KEY (transportadora_id) REFERENCES public.transportadoras(id);


--
-- Name: viagens viagens_cliente_id_clientes_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.viagens
    ADD CONSTRAINT viagens_cliente_id_clientes_id_fk FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: viagens viagens_motorista_id_motoristas_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.viagens
    ADD CONSTRAINT viagens_motorista_id_motoristas_id_fk FOREIGN KEY (motorista_id) REFERENCES public.motoristas(id);


--
-- Name: viagens viagens_transportadora_id_transportadoras_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.viagens
    ADD CONSTRAINT viagens_transportadora_id_transportadoras_id_fk FOREIGN KEY (transportadora_id) REFERENCES public.transportadoras(id);


--
-- Name: xmls xmls_transportadora_id_transportadoras_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: techsin
--

ALTER TABLE ONLY public.xmls
    ADD CONSTRAINT xmls_transportadora_id_transportadoras_id_fk FOREIGN KEY (transportadora_id) REFERENCES public.transportadoras(id);


--
-- PostgreSQL database dump complete
--

\unrestrict nYiqfMCM0cDzJVR9XtVinQzD2VJ1IJcknSIazossAjF8fZYDUL2ceBLcQL71178

